/* #4caece */
body {
    font-family: serif;
    overflow-x: hidden;
    background-color: #eee;
}
/*---- top ----*/
.top {
    color: #4caece;
}
/*---- navbar ----*/
.navbar {
    border-bottom: 1px solid #4caece;
    background-color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #4caece !important;
}
.navbar-collapse {
    flex-grow: unset;
}

/*---- header ----*/
.header {
    height: 50vh;
    background-image: url('./imgs/pexels-fauxels-3184419.jpg'); /*- Photo by fauxels from Pexels -*/
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 1px solid #4caece;
    position: relative;
}
.header h1 {
    color: #4caece;
}
.header .fa-solid {
    color: #4caece;
    font-size: 20px;
    border: 1px solid #4caece;
    padding: 3px;
    position: absolute;
    left: 5px;
    top: 10px;
}
/*---- profile ----*/
section {
    background-color: #eee;
    color: #555;
}
.profile {
    width: 250px;
    height: 200px;
    margin-left: 15px;
}
.profile img {
    width: 100%;
    height: inherit;
    border: 1px solid #4caece;
    border-radius: 10px; 
}
.border-end {
   
}
.list ul li {
   list-style: none;
   display: flex;
    justify-content: space-between;
}
.list ul li .fa-circle-check {
    color: #4caece;
}
.list .fa-solid {
    
}
.list .fa-circle-minus {
    color: #545454b5;
}

 /*---- about ----*/
 #about {
     padding: 50px 0;
 }
 .about-p {
     font-size: 13px;
 }
 /*---- training ----*/
 #training {
     background-color: #4caece30;
     padding: 50px 0;
 }
 #training span,
 #training .fa-solid {
     color: #4caece;
 }
 .training .fa-solid {
     font-size: 30px;
     margin: 10px auto;
 }
 .our-progress {
     border: 2px solid #4caece;
 }
 .our-progress .num {
     color: #4caece;
     font-size: 3rem;
 }
 .our-progress p {
     color: #eee;
     font-size: 1.5rem;
     text-transform: uppercase;
 }
/*---- policies ----*/
#policies {
    background-color: #4caece;
    color: #eee;
    padding: 50px 0;
}
#policies .btn {
    color: #eee;
    border: 1px solid #eee;
    border-radius: 20px;
    font-size: 0.7rem;
    padding: 0.1rem 0.5rem !important;
    transition: all 0.4s ease;
}
#policies .btn:hover {
    background-color: #eee;
    color: #212529;
}
/*---- news ----*/
#news {
    margin: 50px auto;
}
 /*---- FAQ ----*/
 #help {
     background-color: #4caece30;
     padding-bottom: 100px;
 }
 #help h2 {
     color: #555;
 }
 .accordion-button:not(.collapsed) {
     background-color: #4caece;
     color: #eee;
 }

 /*---- footer ----*/
footer {
    border-top: 1px solid #4caece;
    color: #4caece;
}
footer .fa-brands {
    font-size: 20px;
    margin: 3px;
}
 